.academic_area, .activity,.bookshop, .classroom, .dormitory, .express, .food, .landmark, .library, .postgraduate, .report, .running, .schoolbus, .self-service, .shop {
  background: url('Images/MainLeft/se944aba046.png') no-repeat;
}

.academic_area {
  background-position: 0 0;
}


.academic_area:hover {
  background-position: 0 -55px;
}


.activity {
  background-position: 0 -110px;
}


.activity:hover {
  background-position: 0 -165px;
}


.bookshop {
  background-position: 0 -220px;
}


.bookshop:hover {
  background-position: 0 -275px;
}


.classroom {
  background-position: 0 -330px;
}


.classroom:hover {
  background-position: 0 -385px;
}


.dormitory {
  background-position: 0 -440px;
}


.dormitory:hover {
  background-position: 0 -495px;
}


.express {
  background-position: 0 -550px;
}


.express:hover {
  background-position: 0 -605px;
}


.food {
  background-position: 0 -660px;
}


.food:hover {
  background-position: 0 -715px;
}


.landmark {
  background-position: 0 -770px;
}


.landmark:hover {
  background-position: 0 -825px;
}


.library {
  background-position: 0 -880px;
}


.library:hover {
  background-position: 0 -935px;
}


.postgraduate {
  background-position: 0 -990px;
}


.postgraduate:hover {
  background-position: 0 -1045px;
}


.report {
  background-position: 0 -1100px;
}


.report:hover {
  background-position: 0 -1155px;
}


.running {
  background-position: 0 -1210px;
}


.running:hover {
  background-position: 0 -1265px;
}


.schoolbus {
  background-position: 0 -1320px;
}


.schoolbus:hover {
  background-position: 0 -1375px;
}


.self-service {
  background-position: 0 -1430px;
}


.self-service:hover {
  background-position: 0 -1485px;
}


.shop {
  background-position: 0 -1540px;
}


.shop:hover {
  background-position: 0 -1595px;
}
