body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #ffffff;
}

a {
    color: #333333;
    text-decoration: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    font-size: 13px;
}

a:hover,
a:focus {
    color: #4788b3;
    text-decoration: none;
}

a:focus {
    outline: none;
}

#showfood, #showexpress,
#showrunning,
#showshop,
#showbookshop,
#showacademic_area,
#showdormitory,
#showlandmark {
    width: 260px;
    height: 490px;
    background-color: #FBFCFB;
    display: none;
}